
nav {
    height: 200px;
    background-color: lightgray;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    position: relative;
}

.form-control {
    width: 250px;
    position: absolute;
    top:100px;
    left: 15px;

}

.titre {
    margin: auto;
    text-align: center;
}

.item-menu{
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    background-color: lightcoral;
}


.item-menu:hover {
    background-color: lightskyblue;
}

.articlesContainer, .categoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 20px;
    position: relative;
}


.bloc {
    width: 30%;
    height: 600px;
    border: 1px solid gray;
    text-align: center;
    margin-top: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 0 10px 0;
    box-shadow: lightslategray 3px 3px 10px;
    background-color: #f1f2f3;
}

img {
    width: 100%;
    object-fit: cover;
}

.ajout {
    text-decoration: none;
    color: black;
    border: 1px solid lightskyblue;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    background-color: lightskyblue;
    margin: auto;
}

.btn {
    text-decoration: none;
    color: black;
    border: 1px solid lightskyblue;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    background-color: lightskyblue;
}

.ajout:hover, .btn:hover {
    background-color: lightcoral;
}
.btn-light {
    position: absolute;
    top:100px;
    left: 265px;
    padding: 6px;
    border-radius: 20px 50px 50px 20px;
}



@media screen and (max-width: 765px) {
    .bloc {
        width: 80%;
    }
}


