{% extends 'base.html.twig'%}
{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}
{% block main %}
<div class="articlesContainer">
    {% include 'admin/_article.html.twig' %}
</div>
{% endblock %}
{% block footer %}
    <p>{{ article.title }}</p>
{% endblock %}