{% extends 'base.html.twig' %}
{% block title %}
    <title> Liste des articles </title>
{% endblock %}
{% block main %}
    <a class="btn" style="color: black; text-decoration: none;" href={{ path('admin-insert_article') }}> Créer un Nouvel Article </a>
    <div class="bloc">
        {% for article in articles %}
            {% include 'admin/_article.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <p> Liste des articles </p>
{% endblock %}