{% extends 'base.html.twig' %}

{% block main %}
    <section class="categoryContainer">
        {% if category.isPublished %}
            <div class="bloc">
                <h1 style="color: {{ category.color }}"> {{ category.title }} </h1>
                <p> {{ category.description }} </p>
            </div>
        {% else %}
            <p> Cette catégorie n'est pas publié </p>
        {% endif %}
    </section>

{% endblock %}

{% block title %}

{% endblock %}

