{% extends 'base.html.twig' %}

{% block main %}

    {% for category in categories %}
        {% if category.isPublished %}
            <h1 style="color: {{category.color }}"> {{ category.title }}</h1>
            <p> {{ category.description}} </p>
            <a class="btn" style="color: black; text-decoration: none;" href={{ path('admin_category', {'id': category.id }) }}> En savoir + </a>
        {% else %}
        <p> Cette catégorie n'est pas publié </p>
        {% endif %}

    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

