{% extends 'base.html.twig' %}

{% block main %}
    <div class="bloc">
        <form action="{{ path('admin-insert_article')}}" method="get">
            <label for="title"><h1>Titre</h1></label>
            <input type="text" name="title" id="title">

            <label for="description"></label>
            <textarea name="description" id="description">Description</textarea>

            <label for="author"><h1>Auteur</h1></label>
            <input type="text" name="author" id="author">

            <button>Envoyer</button>

        </form>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

