{% include '_header.html.twig' %}

<div class="articlesContainer">
    {% for article in listArticles %}
        {% include '_article.html.twig' %}
    {% endfor %}
</div>
{% include '_footer.html.twig' %}