{% extends 'base.html.twig' %}
{% block title %}
    <title> Liste des articles </title>
{% endblock %}
{% block main %}
<div class="articlesContainer">
    {% for article in articles %}
        {% include '_article.html.twig' %}
    {% endfor %}
</div>
{% endblock %}
{% block footer %}
    <p> Liste des articles </p>
{% endblock %}