{% extends 'base.html.twig' %}
{% block main %}
<div class="articlesContainer">
    {% for article in listArticles %}
        {% include '_article.html.twig' %}
    {% endfor %}
</div>
{% endblock %}
