<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Blog exo symfony</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
    <header>
        <h1 class="titre">Blog exo Symfony</h1>
        <nav>
            <ul class="navbar">
                <li class="item-menu"><a style="color: black; text-decoration: none;" href={{ path('home') }}> Accueil </a></li>
                <li class="item-menu"><a style="color: black; text-decoration: none;" href={{ path('articles') }}> Nos Articles </a></li>
                <li class="item-menu"><a style="color: black; text-decoration: none;" href={{ path('categories') }}> Nos Catégories </a></li>
            </ul>
        </nav>
    </header>

    <main>
        {%block main%}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>Blog exo symfony</p>
        {% endblock %}
    </footer>

</body>
</html>