{% block css%}
    <link rel="stylesheet" href="{{ asset('style.css') }}">


<div class="formulaire">
    <form action="{{ path('home') }}" method="get">
        <label for="age"><h1>Veuillez renseigner votre âge !</h1></label>
        <input type="number" name="age" id="age">

        <button>Envoyer</button>

    </form>
</div>
{% endblock %}