{% extends 'base.html.twig' %}
{% block main %}
<div class="articlesContainer">
    {% for article in articles %}
        {% include 'admin/_article.html.twig' %}
    {% endfor %}
</div>
{% endblock %}
