{% include '_header.html.twig' %}

<div class="articlesContainer">
    {% for article in articles [1:3] %}
        {% include '_article.html.twig' %}
    {% endfor %}
</div>

{% include '_footer.html.twig' %}